<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Angularjs - portfolio</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
    .masonry-brick { margin: 5px; display: none;}
    .masonry-brick.loaded {display: block;}
    </style>
</head>

<body id="page-top" class="index">

  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#page-top">&#123;&#123;ng-Norredine&#125;&#125;</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li class="hidden">
                      <a href="#page-top"></a>
                  </li>
                  <li class="page-scroll">
                      <a href="#portfolio">Portfolio</a>
                  </li>
                  <li class="page-scroll">
                      <a href="#about">About</a>
                  </li>
                  <li class="page-scroll">
                      <a href="#contact">Contact</a>
                  </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
  </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/angular.png" alt="angular-logo">
                    <div class="intro-text">
                        <span class="name">I <i class="fa fa-heart" style="color: purple;"></i> Angular</span>
                        <hr class="star-light">
                        <span class="skills">Norredine Abouriche - Front-end web developper</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section  -->
    <section id="portfolio" ng-app="masonryApp">
        <div class="container" style="width: 1024px;">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>angular-masonry</h2>
                    <hr class="star-primary">
                </div>
            </div>

            <div ng-controller="angular-demo">
                <div class="span12">
                    <div class="btn-group">
                        <button class="btn btn-primary" ng-click="add()">Ajouter</button>
                        <button class="btn btn-danger" ng-click="remove()">Supprimer</button>
                    </div>

                    <div masonry>
                        <div class="masonry-brick" ng-repeat="brick in bricks">
                            <img ng-src="{{ brick.src }}" alt="A masonry brick">
                        </div>
                    </div>

                </div>
            </div>
          </div>
        </section>


    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-info">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Freelancer est un theme créer par Start Bootstrap. Le .zip contient les sources complètes incluant HTML, CSS, et JavaScript facile à customiser.</p>
                </div>
                <div class="col-lg-4">
                    <p>Cette ressource gratuite me permet donc d'exposer ma démo de «masonry» basée sur angularjs et la mettre à disposition du public.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://norredine-abouriche.com/doc/norredine_abouriche_dev-front-end.pdf.zip" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Telecharger mon cv
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contact Me</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- Github's Mail servers aren't working, please contact me directly by email, thanks -->
                    <div style="text-align:center">me@norredine-abouriche.com</div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>Montréal, Quebec.<br>Canada</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Social</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="http://ng-norredine.github.io/" class="btn-social btn-outline"><i class="fa fa-fw fa-git"></i></a>
                            </li>
                            <li>
                                <a href="https://ca.linkedin.com/in/norredineabouriche" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>About Freelancer</h3>
                        <p>Freelance is a free to use, open source Bootstrap theme created by <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Norredine Abouriche 2015
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- angular scripts -->
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="node_modules/jquery-bridget/jquery.bridget.js"></script>
    <script src="node_modules/desandro-get-style-property/get-style-property.js"></script>
    <script src="node_modules/get-size/get-size.js"></script>
    <script src="node_modules/wolfy87-eventemitter/EventEmitter.js"></script>
    <script src="node_modules/eventie/eventie.js"></script>
    <script src="node_modules/doc-ready/doc-ready.js"></script>
    <script src="node_modules/desandro-matches-selector/matches-selector.js"></script>
    <script src="node_modules/fizzy-ui-utils/utils.js"></script>
    <script src="node_modules/outlayer/item.js"></script>
    <script src="node_modules/outlayer/outlayer.js"></script>
    <script src="node_modules/masonry-layout/masonry.js"></script>
    <script src="node_modules/imagesloaded/imagesloaded.js"></script>
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-masonry/angular-masonry.js"></script>

    <script>
        angular.module('masonryApp', ['wu.masonry']).
            controller('angular-demo', function ($scope) {
                function genBrick() {
                    var height = ~~(Math.random() * 500) + 100;
                    var id = ~~(Math.random() * 10000);
                    return {
                        src: 'http://lorempixel.com/310/' + height + '/?' + id
                    };
                };

                $scope.bricks = [
                    genBrick(),
                    genBrick(),
                    genBrick(),
                    genBrick(),
                    genBrick()
                ];

                $scope.add = function add() {
                    $scope.bricks.push(genBrick());
                };

                $scope.remove = function remove() {
                    $scope.bricks.splice(
                        ~~(Math.random() * $scope.bricks.length),
                        1
                    )
                };
            });
    </script>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/freelancer.js"></script>
</body>

</html>
