<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Angular Validation Form</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,100,700,900" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/style.css">

  <script src="js/lib/angular/angular.min.js"></script>
  <script src="js/app.js"></script>
</head>
<body>
<div class="page">
  <section class="card register" ng-app="myApp"
    ng-controller="RegistrationController">
  <form name="myform"
    ng-submit="register()"
    novalidate>

    <div class="textintro">
      <h1>Validation de formulaire - Angularjs</h1>
      <p>Merci de renseigner les champs suivants</p>
      <p ng-show="message">{{ message }}</p>
    </div>

    <fieldset>
      <input type="text" name="firstname"
        placeholder="Prenom"
        ng-model="user.firstname"
        ng-required="true">
        <p class="error validationerror" ng-show="myform.firstname.$invalid && myform.firstname.$touched">
        Vous devez renseigner votre prenom.</p>

      <input type="text" name="lastname"
        placeholder="Nom"
        ng-model="user.lastname"
        ng-required="true">
        <p class="error validationerror" ng-show="myform.lastname.$invalid && myform.lastname.$touched">
        Vous devez renseigner votre nom.</p>


      <input type="email" name="email"
        placeholder="Email"
        ng-model="user.email">
        <p class="error validationerror" ng-show="myform.email.$invalid && myform.email.$touched">
        L'email est requis et doit être un email valide.</p>



      <input type="password" name="password"
        placeholder="Password"
        ng-model="user.password"
        ng-minlength="6">
        <p class="error validationerror" ng-show="myform.password.$invalid && myform.password.$touched">
        Votre mot de passe doit etre d'un minimum de 6 caractères</p>
    </fieldset>

    <button type="submit" class="btn">Soumettre</button>
  </form>
</section>
</div>
</body>
</html>
